{% extends 'facerecognition/main.html' %}
{% load static %}
{% block style %}

{% include 'facerecognition/glass_style.html' %}
<style>

</style>
{% endblock %}

{% block content %}

<div class="glass">

	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for form in forms %}

				{{form.name}} {{form}}<br>

		{% endfor %}
		<script src="{% static 'js/main.js'%}"></script>
		<input type="submit" name="submit" value="Подтвердить">
	</form>

</div>

{% endblock %}