*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100vh;
    height: 100%;
    /*background: linear-gradient(to right top, #0DFDB9,#2FE30B);*/
    background: aquamarine;
}
